/* ___________styles of vende tu campo____________ */

.headerVendeTuCampo{
    /* background-image: url("../image/vendetucampo.jpg") ; */
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  
  .divTitleFormVendeTuCampo{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
  }
  
  .divTitleFormVendeTuCampo h1{
    font-size: 400%;
    text-transform: uppercase;
  }
  
  .divTitleFormVendeTuCampo p{
    font-size: xx-large;
    margin-top: 1%;
  }
  .divConteinerFormContactFooter{
    padding: 3%;
    color: #fff;
    width: 100%;
    height: 100%;
    background-color:rgb(53, 52, 52);
  }
  
  .divConteinerFormContactFooter h1{
    margin-bottom: 2%;
    font-size: 50px;
  }
  
  .conteinerFormContactFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .conteinerFormContactFooter div > input{
    width: 700px;
    height: 70px;
    margin: 1%;
    font-size: x-large;
    padding: 2%;
    
  }
  .conteinerFormContactFooter input:focus , textarea:focus{
    outline: none;
  }

  .conteinerFormContactFooter  textarea{
    width: 80%;
    font-size: x-large;
    margin-top: 2%;
    
  }
  
  .btnFormContactFooter{
    font-size: x-large;
    margin-top: 2%;
    width: 50%;
    height: 70px;
    color:white;
    text-transform: uppercase;
    border-style: none;
    background-color: black;
    border-radius: 6px;
    transition: 1s;
  }
  
  .btnFormContactFooter:hover{
    cursor: pointer;
    color:black;
    background-color: white;
    transition: 1s;
  }
  @media (max-width: 50.625em) {

    .headerVendeTuCampo{
 
      height: 450px;
   
      
    }
    
    .divTitleFormVendeTuCampo h1{
      font-size:50px;
    }

    .divTitleFormVendeTuCampo p{
      font-size:30px;     
    }
  }
 

 